@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1557711501631'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1557711501631#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABlQAAAJkAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApggQABNgIkAwgLBgAEIAWEbQcvG6UFyK4wbuGJgNCiBCHTzY1++jJEHk5GPPx3L3bfzKTV4p1LpWbpnuOhUEKywCu6QJ2X/+VabooozI5/lkVWjzrJbQ44l5JjXWEq31cZBuEqdBsQYH0/eMimU6ISm10bCA5+6hLFRn8GXE5/Aj3If3VAuYwxaKzJYwIGlga4F0aRFUnkDWMXuITHBBqNymGHazt16FNYqwLx6toc+nIRRWH5eqG25mARX2rUp490jc/w+/HPZvSR1GRW08n9qgULP2sX5aOKa58QJaDjNchYBgpxUZs50ikY16kx02US7Ks++ElV+W6xV4dgf51V2wyGofKeVK76VmsTKPHkALAx6gJSU+vD21unub28cPu6OrU3UrwQ/p2AXXx1BF2h1b7zMqs2n2JjY+CR6/SdcSZO5enRkeFfY4Lx02AXoJIfM4Hg2/XvRmf+9zUV8ONFQ5UC/XzU79Mb/BtVz4GiayxXKqqq1pcMjFqZ0KgRVTjQ6XestedGCqFez+346oykyOpNk4VdRo0m26hVbweNlqwfb9JF6xSlAYvOAUK7KyStviNrd0MW9gc1ev2hVnt0otFVTF7YZDbcgWVN3JCF4hBdGUfK8ZiBqL5K9m7AdVYT8k3SmRvHcqFUzK9TRHqOLdmeXTFGodJxiGvgOQqCGBMdeyRNwTEmmSoWVd2bCjIOYcABjXAGsSDhEHJJsYjyxxsDpc9XEduuAKdbWmrSTUTLuNOjsoJSD3LdGPVquZdXMntsFYahIEWLhdAamEcCgRhK6ud5iGQUOCNSiSlFe5Tqayysbw4/oIJ1YNlS2DOymrfYojIAAA==') format('woff2'),
  url('../fonts/iconfont.woff?t=1557711501631') format('woff'),
  url('../fonts/iconfont.ttf?t=1557711501631') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1557711501631#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode1:before {
  content: "\e625";
}

